<div class="color-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col color-bar bg-warning"></div>
      <div class="col color-bar bg-danger"></div>
      <div class="col color-bar bg-success"></div>
      <div class="col color-bar bg-info"></div>
      <div class="col color-bar bg-purple" style="background-color: purple;"></div>
      <div class="col color-bar bg-pink" style="background-color: pink;"></div>
      <div class="col color-bar bg-warning d-none d-md-block"></div>
      <div class="col color-bar bg-danger d-none d-md-block"></div>
      <div class="col color-bar bg-success d-none d-md-block"></div>
      <div class="col color-bar bg-info d-none d-md-block"></div>
      <div class="col color-bar bg-purple d-none d-md-block" style="background-color: purple;"></div>
      <div class="col color-bar bg-pink d-none d-md-block" style="background-color: pink;"></div>
    </div>
  </div>
</div>


<div class="container-fluid pt-5 pb-5" style="background-color: rgb(182, 178, 206); background-image: url(./../../../assets/images/backgroundCovid.png);">
  <div class="row">
    <div class="col-md-4">
      <img id="imgCovid" src="../../../assets/images/whatIsCovid.png" alt="">
    </div>
    <div class="col-md-8">
      <div class="container">
        <div class="row">
          <div class="col-md-12" id="divInfo">
            <h1>COVID-19</h1>
            <h3>¿Qué es?</h3>
            <p>La COVID-19 es la enfermedad causada por el nuevo coronavirus conocido como SARS-CoV-2. 
              La OMS tuvo noticia por primera vez de la existencia de este nuevo virus el 31 de 
              diciembre de 2019, al ser informada de un grupo de casos de «neumonía vírica» que se 
              habían declarado en Wuhan (República Popular China).</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div class="color-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col color-bar bg-warning"></div>
        <div class="col color-bar bg-danger"></div>
        <div class="col color-bar bg-success"></div>
        <div class="col color-bar bg-info"></div>
        <div class="col color-bar bg-purple" style="background-color: purple;"></div>
        <div class="col color-bar bg-pink" style="background-color: pink;"></div>
        <div class="col color-bar bg-warning d-none d-md-block"></div>
        <div class="col color-bar bg-danger d-none d-md-block"></div>
        <div class="col color-bar bg-success d-none d-md-block"></div>
        <div class="col color-bar bg-info d-none d-md-block"></div>
        <div class="col color-bar bg-purple d-none d-md-block" style="background-color: purple;"></div>
        <div class="col color-bar bg-pink d-none d-md-block" style="background-color: pink;"></div>
      </div>
    </div>
  </div>
<!------------ Sintomas --------------->
<div class="row m-0 p-0 pt-4" style="background-color: rgb(216, 222, 228);"> 
    <div class="container-fluid m-0 p-0 ml-5 mr-5" >
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center m-0">Sintomas más habituales del COVID-19</h1> 
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <p class="text-center" style="font-size: small;">La COVID-19 afecta de distintas maneras en función de cada persona.
                    La mayoría de las personas que se contagian presentan síntomas de intensidad leve o moderada, 
                    y se recuperan sin necesidad de hospitalización.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="./../../../assets/images/Fiebre.png" alt="" class="img-fluid imgSintomas mx-auto d-block">
                <h2 class="text-center">Fiebre</h2>
            </div>
            <div class="col-md-4">
                <img src="./../../../assets/images/Tos.png" alt="" class="img-fluid imgSintomas mx-auto d-block">
                <h2 class="text-center">Tos seca</h2>
            </div>
            <div class="col-md-4">
                <img src="./../../../assets/images/Cansancio.png" alt="" class="img-fluid imgSintomas mx-auto d-block">
                <h2 class="text-center">Cansancio</h2>
            </div>
        </div>     
    </div>
</div>

<div class="color-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col color-bar bg-warning"></div>
        <div class="col color-bar bg-danger"></div>
        <div class="col color-bar bg-success"></div>
        <div class="col color-bar bg-info"></div>
        <div class="col color-bar bg-purple" style="background-color: purple;"></div>
        <div class="col color-bar bg-pink" style="background-color: pink;"></div>
        <div class="col color-bar bg-warning d-none d-md-block"></div>
        <div class="col color-bar bg-danger d-none d-md-block"></div>
        <div class="col color-bar bg-success d-none d-md-block"></div>
        <div class="col color-bar bg-info d-none d-md-block"></div>
        <div class="col color-bar bg-purple d-none d-md-block" style="background-color: purple;"></div>
        <div class="col color-bar bg-pink d-none d-md-block" style="background-color: pink;"></div>
      </div>
    </div>
  </div>


<section style="background-color: rgb(165, 151, 231); background-image: url(./../../../assets/images/backgroundSintomsPrevent.png);">
    <div class="container">
        <div class="row" style="padding-top: 3em;">
            <div class="col-md-12 mb-2">
                <h1 class="text-center text-white">Otros sintomas menos habituales</h1>
                <hr>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-4">
                <img src="./../../../assets/images/doc.png" alt="" class="img-fluid mx-auto d-block" id="imgDoc">
            </div>
            <div class="col-md-8">
                <div class="container-fluid ">
                    <div class="row text-center mt-5">
                        <div class="col-md-4">
                            <div class="divCirculo mx-auto d-block"> <img src="./../../../assets/images/dolor-de-pecho.png" alt=""> </div>
                            <p class="text-white"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">Molestias y dolores</p>
                        </div>
                        <div class="col-md-4">
                            <div class="divCirculo mx-auto d-block"> <img src="./../../../assets/images/dolor-de-garganta.png" alt=""> </div>
                            <p class="text-white"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">Dolor de garganta</p>
                        </div>
                        <div class="col-md-4">
                            <div class="divCirculo mx-auto d-block"> <img src="./../../../assets/images/bano.png" alt=""> </div>
                            <p class="text-white"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">Molestias y dolores</p>
                        </div>
                    </div>

                    <div class="row text-center mt-5">
                        <div class="col-md-4">
                            <div class="divCirculo mx-auto d-block"> <img src="./../../../assets/images/eye.png" alt=""> </div>
                            <p class="text-white"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">Conjuntivitis</p>
                        </div>
                        <div class="col-md-4">
                            <div class="divCirculo mx-auto d-block"> <img src="./../../../assets/images/jaqueca.png" alt=""> </div>
                            <p class="text-white"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">Dolor de cabeza</p>
                        </div>
                        <div class="col-md-4">
                            <div class="divCirculo mx-auto d-block"> <img src="./../../../assets/images/respiracion.png" alt=""> </div>
                            <p class="text-white"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">Pérdida del sentido del olfato o del gusto</p>
                        </div>
                    </div>

                    <div class="row text-center mt-5">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="divCirculo mx-auto d-block"> <img src="./../../../assets/images/acne.png" alt=""> </div>
                            <p class="text-white"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">Erupciones cutáneas o pérdida del color en los dedos de las manos o de los pies</p>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="color-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col color-bar bg-warning"></div>
        <div class="col color-bar bg-danger"></div>
        <div class="col color-bar bg-success"></div>
        <div class="col color-bar bg-info"></div>
        <div class="col color-bar bg-purple" style="background-color: purple;"></div>
        <div class="col color-bar bg-pink" style="background-color: pink;"></div>
        <div class="col color-bar bg-warning d-none d-md-block"></div>
        <div class="col color-bar bg-danger d-none d-md-block"></div>
        <div class="col color-bar bg-success d-none d-md-block"></div>
        <div class="col color-bar bg-info d-none d-md-block"></div>
        <div class="col color-bar bg-purple d-none d-md-block" style="background-color: purple;"></div>
        <div class="col color-bar bg-pink d-none d-md-block" style="background-color: pink;"></div>
      </div>
    </div>
  </div>

  <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%" height="600px"></iframe>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>¡CUÍDATE!</h6>
          <p class="text-justify">
            ¡Hola! Recuerda que durante la Nueva Normalidad con el semáforo en rojo hay que estar en casa y es el momento de sacar lo mejor de nosotros para vencer el reto.
            Mantente ocupado en actividades productivas y positivas, comparte tiempo con la familia, colabora en las tareas del hogar, practica la tolerancia, solidaridad y respeto.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Más información</h6>
          <ul class="footer-links">
            <li><a href="https://coronavirus.gob.mx/">Todo sobre COVID</a></li>
            <li><a href="https://espanol.cdc.gov/coronavirus/2019-ncov/vaccines/faq.html">Vacuna</a></li>
            <li><a href="https://www.who.int/es">OMG</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 Equipo 2 - Infraestructura web
          </p>
        </div>
      </div>
    </div>
</footer>