.imgSintomas{
    width: 40%;
    max-height: 210px;
}

.color-bar {
    height: 2px;
}

#imgDoc {
    max-height: 35em;
}

.divCirculo {
    border-radius: 50%; 
    border: 2px solid white;
    height: 100px;
    width: 100px;
    position: relative;
}

.divCirculo img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 50%;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

#imgCovid {
  width: 100%;
}

#divInfo h1 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Roboto;
  font-size: 5em;
  color: rgb(48, 9, 85);
  letter-spacing: 15px;
  margin: 0;
  padding: 0;
}

#divInfo h3 {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.24);
  padding-bottom: 15px;
}

#divInfo p {
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(61, 61, 61);
}